section.bg-apple {
  color: #fff;
  text-shadow: 0 1px 0 #013;
  background: linear-gradient(to bottom, #000 0%, #1a2028 50%, #293845 100%); }
.headline.has-text-align-left {
  text-align: left; }

.headline.has-text-align-center {
  text-align: center; }

.headline.has-text-align-right {
  text-align: right; }
